# 2023-09-13
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.bash_profile
!/.editorconfig
# 2024-05-31
!/.gitconfig
!/.gitignore
!/.profile
!/.ssh/config
!/readme.md
# 2024-05-31
# «warning: adding embedded git repository: .wp-cli/packages/vendor/wp-media/wp-rocket-cli»
# https://github.com/dmitrii-fediuk/cygwin-home/issues/2
/.wp-cli