# 2024-07-07 "Improve `.gitconfig`": https://github.com/dmitrii-fediuk/cygwin-home/issues/3
[core]
	autocrlf = input
	filemode = false
	# 2024-05-31
	# 1.1) "«invalid path» on `git clone`": https://github.com/dmitrii-fediuk/cygwin-home/issues/1
	# 1.2) "How did I fix «invalid path» on `git clone` in Windows 10?": https://df.tips/t/2205
	# 2) https://stackoverflow.com/a/63742773
	protectNTFS = false
[credential]
	helper = store
[credential "helperselector"]
	selected = <no helper>
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[safe]
	directory = %(prefix)///wsl.localhost/Ubuntu-22.04/
[user]
	name = Dmitrii Fediuk
	# 2024-07-07 https://git-scm.com/docs/git-config/#Documentation/git-config.txt-useremail
	email = dfediuk@gmail.com