[core]
	autocrlf = input
	filemode = false
	# 2024-05-31
	# 1.1) "«invalid path» on `git clone`": https://github.com/dmitrii-fediuk/cygwin-home/issues/1
	# 1.2) "How did I fix «invalid path» on `git clone` in Windows 10?": https://df.tips/t/2205
	# 2) https://stackoverflow.com/a/63742773
	protectNTFS = false
[user]
	name = Dmitrii Fediuk
	email = dfediuk@gmail.com
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = store
[credential "helperselector"]
	selected = <no helper>
[safe]
	directory = %(prefix)///wsl.localhost/Ubuntu-22.04/
