# 2023-09-13
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
# 2024-09-26
!/cygwin/etc/nsswitch.conf
!/git/etc/nsswitch.conf
# 2024-08-23
!/php/*.bat
# 2024-05-31
!/shell/home/.gitconfig
!/shell/home/.profile
!/shell/home/.ssh/config
# 2024-07-16 "Refactor `~/.ssh/*`": https://github.com/df-windows/tools/issues/5
!/shell/home/.ssh/keys/*.pub
!/readme.md
# 2024-08-23 `find . -name '.git' -type d`
/mongo/mongo-hacker
# 2024-05-31
# «warning: adding embedded git repository: .wp-cli/packages/vendor/wp-media/wp-rocket-cli»
# https://github.com/df-windows/tools/issues/2
/shell/home/.wp-cli
# 2024-08-23 `find . -name '.git' -type d`
/shell/scripts