# 2023-09-13
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
# 2024-09-26
!/cygwin/etc/nsswitch.conf
!/git/etc/nsswitch.conf
!/git/etc/profile
# 2024-08-23
!/php/*.bat
# 2024-05-31
!/shell/home/.gitconfig
# 2025-04-20
!/shell/home/.inputrc
# 2024-05-31
!/shell/home/.profile
# 2024-05-31
!/shell/home/.ssh/config
# 2024-07-16 "Refactor `~/.ssh/*`": https://github.com/df-windows/tools/issues/5
!/shell/home/.ssh/keys/*.pub
!/readme.md
# 2025-04-06
# 1) https://gemini.google.com/u/1/app/de95853eeeb45648
# 2) https://github.com/MestreLion/git-tools
# 3) https://chatgpt.com/c/67f29390-b418-8003-9860-0e2cbddfcb97
/git-tools
# 2024-08-23 `find . -name '.git' -type d`
/mongo/mongo-hacker
# 2024-05-31
# «warning: adding embedded git repository: .wp-cli/packages/vendor/wp-media/wp-rocket-cli»
# https://github.com/df-windows/tools/issues/2
/shell/home/.wp-cli
# 2024-08-23 `find . -name '.git' -type d`
/shell/scripts